.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

body {
    background-image: url("https://www.pexels.com/photo/abstract-black-and-white-blur-book-261763/");
}